@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.menu-certificate {
  max-width: 800px;
}

.btn-back {
  gap: 6px;
}

.btn-back p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.btn-back i {
  font-size: 20px;
  color: #64748b;
}

.certificate {
  position: relative;
  margin-top: 32px;
  background-image: url("../../../../public/certificate/certificate_bg.png");
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}

.content-certificate {
  position: relative;
  width: 720px;
  height: 470px;
  background-color: #fff;
  border-radius: 8px;
}

.content-certificate p {
  margin: 0;
}

.icon-medal {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}

.info-certificate {
  margin: 64px 40px 48px 40px;
  gap: 20px;
}

.title-subtitle-certificate h1 {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 2.4px;
  color: #1a2856;
}

.title-subtitle-certificate p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  color: #121621;
}

.student-name {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
  color: #3B5AC2;
}

.activity-list {
  width: 413.7px;
}

.activity-list-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.activity-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.date-certificate {
  color: #121621;
  font-weight: 700;
  font-size: 11.2px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
}

.img-signature {
  position: absolute;
  right: 40px;
  bottom: 24px;
  width: 64px;
  height: 64px;
}
